{% extends "layout1.html" %}
{% block content %}
<br xmlns="http://www.w3.org/1999/html">
<!DOCTYPE html>
<html>
<head>
    <title>Saving Tips</title>
    <meta charset="utf-8" />
</head>
<body>
<div style="background-color:#782F40;color:white;padding:20px;margin-top:20px;">
    <img src ="../static/img/lightbulb.jpg">
    <h1>Save at home:</h1>
    <p>One of the best ways to help your financial situation is to look at your home lifestyle.Certain activities impact</p>
    <p> your energy bill. A little known fact about energy cost is the existence of on and off peak hours. </p>
    <p>In parts of Tallahassee, off peak hours are from 7p.m - 7a.m and weekends. During this time energy costs less, </p>
    <p>so wait until 7p.m to fire up the bubble bath. Another power hog is incandescent bulbs. Even though they are outlawed,
    <p> they still seem to show up in rental houses. Consider switching to LED or fluorescent bulbs for overtime savings.</p>
</div>
<br>
<div style="background-color:#e7c779;color:white;padding:20px;">
    <img src="../static/img/walter-white-money.jpg">
    <h1>Save day to day:</h1>
    <p>When it comes time to fork over some cash, how you have your money stored can make a difference. </p>
    <p>Multiple accounts can discourage splurges and overspending. Instead of having one account stock piled  </p>
    <p>with all your funds, having some funds in savings and multiple checking accounts as well as cash can </p>
    <p>help divvy up money for bills, leisure, emergency, etc. Just ensure you have enough in your bill fund</p>
    <p>because the 1st seems to roll around all to sudden. By using this technique, it gets rid of the over-</p>
    <p>indulging mentality. For instance, when you have a whole bag of cookies in your lap on the couch, you </p>
    <p>will likely consume the whole thing, but if you take a few cookies from the kitchen and sit down, the </p>
    <p>inconvenience of a second trip will likely discourage over-indulging.</p>
</div>
<br>
<div style="background-color:#782F40;color:white;padding:20px;">
    <img src="../static/img/internet-banking.jpg">
    <h1>Save on purchases:</h1>
    <p>Ecommerce is flourishing more than ever which means you save more. The web is a great tool in helping </p>
    <p>your budget because it allows you to compare prices; something stores do not want you to do. Ordering  </p>
    <p>online, although makes you anxious, can save you big for several reasons. If the seller is based in a  </p>
    <p>different state, you do not have to pay taxes on the purchase. Some websites, like eBay or Sierra Trading </p>
    <p>Post, allow you to purchased used which is not the case in most stores saving you a little bit more plus </p>
    <p>you do not have to deal with craigslist creepers. One perk not usually not available purchasing in store is </p>
    <p>coupons. Just subscribe to the newsletter and usually they send coupon codes right to your e-mail. Even  </p>
    <p>groceries are being sold online now on websites like Jet. Shopping online is an easy way to keep your </p>
    <p>savings stacked.</p>
</div>
</body>
</body>
</html>
{% endblock %}