{% extends "layout1.html" %}
{% block content %}
<br xmlns="http://www.w3.org/1999/html">
<h3>Please enter in your information</h3>
<br>
<form style="text-align:center;" method = "post", action="{{ url_for('template')}}">
    <h3>Who are you?</h3>
    <input type="text" name="firstname" placeholder="First Name"><br><br>
    <input type="text" name="lastname" placeholder="Last Name"><br><br>
    <input type="text" name="email" placeholder="Email"><br><br>

    <h3>Tell us about your debt and bills</h3>
    <input type="text" name="gmi" placeholder="Gross Monthly Income"><br><br>
    <input type="text" name="rent" placeholder="Rent"><br><br>
    <input type="text" name="util" placeholder="Utilities"><br><br>
    <input type="text" name="transport" placeholder="Transportation"><br><br>
    <input type="text" name="insurance" placeholder="Insurance"><br><br>
    <input type="text" name="loans" placeholder="Loans"><br><br>
    <input type="text" name="misc" placeholder="Miscellaneous"><br><br>
    <input type="text" name="tuition" placeholder="Tuition"><br><br>
    <label for="ef">Emergency Fund:</label>
    <input type="radio" name="ef" value="Yes"> Yes
    <input type="radio" name="ef" value="No" checked> No<br>

    <label for="c401K">Company Sponsored 401K?</label>
    <input type="radio" name="c401K" value="Yes"> Yes
    <input type="radio" name="c401K" value="No" checked> No<br>
    <input type="submit" />
</form>
{% endblock %}
